---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Card from "@/components/Card.astro";
import getSortedPosts from "@/utils/getSortedPosts";

const posts = await getCollection("notes", ({ data }) => !data.draft);
const notesPosts = getSortedPosts(posts);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="notes" class="app-layout">
    <Breadcrumb />
    <section id="hero" class="py-8 border-b border-border">
      <h1 class="text-2xl font-semibold sm:text-3xl">Notes</h1>
      <p class="mt-2 mb-6 italic">My personal notes and thoughts.</p>
    </section>

    {
      notesPosts.length > 0 ? (
        <section id="notes" class="py-8">
          <ul>
            {notesPosts.map(data => (
              <Card variant="h3" {...data} />
            ))}
          </ul>
        </section>
      ) : (
        <section id="notes" class="py-8">
          <p>No notes yet.</p>
        </section>
      )
    }
  </main>
  <Footer />
</Layout>
